/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

/* UTILITIES */
.button {
    display: block;
    padding: 15px;
    font-size: 120%;
}

.flex-nw {
    display: flex;
}

.flex-w {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.central {
    margin: auto;
}

.green {
    background: green;
}

.green-color {
    color: green;
}

.red-color {
    color: red;
}

.small-text {
    font-size: 80%;
}

.white-color {
    color: #fff;
}




/* APP */
.app {
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.app > * {
    width: 100%;
}


/* HEADER */
header > * {
    padding: 10px;
    flex-basis: 200px;
}

.istruction {
    max-width: 800px;
}

.istruction li {
    margin-bottom: 10px;
}



/* MAIN */
main {
    padding: 10px;
    justify-content: space-around;
}



/* Main: USER-SECTION */
.user-section {
    margin: 10xp;
    padding: 10px;
    height: 360px;
    flex-basis: 40%;
    border: 2px solid #000;
}

.default-section {
    margin-bottom: 25px;
    padding: 5px 0 15px 0;
    border-bottom: 1px dotted #ccc
}

.input-wrapper {
    margin-bottom: 15px;
    padding: 0 25px;
}

.input-box {
    margin: 5px;
}

.input-box label {
    display: inline-block;
    width: 40px;
}

.input-box input {
    padding: 5px;
    width: 75px;
    text-align: right;
}



/* Main: OUTPUT-SECTION */
.output-section {
    flex-basis: 60%;
    overflow: auto;
    margin: 10xp;
    padding: 10px;
    height: 380px;
    flex-basis: 40%;
    border: 2px solid #000;
}

.main-table caption {
    margin-bottom: 10px;
    font-size: 120%;
    font-weight: bold;
}

.main-table th {
    width: 40px;
}


/* FOOTER  */
footer {
    font-style: italic;
    font-size: 5px;
    text-align: right;
    padding: 0 15px 10px;
  }
